<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /learning-wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /learning-wordpress/index.php [L]
</IfModule>
